In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('COURSEDATASET.csv')

In [ ]:
df.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [ ]:
ratings = pd.read_csv('COURSEDATASET.csv')

In [ ]:
ratings.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [ ]:
links = pd.read_csv('COURSEDATASET.csv')

In [ ]:
links.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [ ]:
tags = pd.read_csv('COURSEDATASET.csv')

In [ ]:
tags.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [ ]:
pd.pivot_table(ratings, index='course_id', columns='is_paid', fill_value=0)

          content_duration       num_lectures      num_reviews        \
is_paid              False  True        False True       False  True
course_id
8324                   0.0   3.0            0   48           0   195
8325                   0.0   4.0            0   82           0   253
11153                  0.0   4.5            0   62           0    95
11174                  0.0  27.5            0  197           0  2408
11475                  0.0  12.0            0  185           0  1090
...                    ...   ...          ...  ...         ...   ...
1276020                0.0   3.0            0   20           0     2
1276182                0.0   1.0            0    5           0     0
1276364                0.0   2.5            0   52           0     0
1277924                0.0   8.5            0   68           0     0
1282064                0.0   2.5            0    7           0     0

          num_subscribers        price
is_paid             False   True False True
course_id
8324                    0   3697     0   20
8325                    0  12458     0   20
11153                   0   7014     0   50
11174                   0  69186     0  120
11475                   0  26673     0  100
...                   ...    ...   ...  ...
1276020                 0     23     0   30
1276182                 0      0     0   95
1276364                 0      1     0  200
1277924                 0     44     0   40
1282064                 0      0     0   20

[3672 rows x 10 columns]

In [ ]:
df = pd.DataFrame(pd.pivot_table(ratings, index='course_id', columns='is_paid', fill_value=0))
df

          content_duration       num_lectures      num_reviews        \
is_paid              False  True        False True       False  True
course_id
8324                   0.0   3.0            0   48           0   195
8325                   0.0   4.0            0   82           0   253
11153                  0.0   4.5            0   62           0    95
11174                  0.0  27.5            0  197           0  2408
11475                  0.0  12.0            0  185           0  1090
...                    ...   ...          ...  ...         ...   ...
1276020                0.0   3.0            0   20           0     2
1276182                0.0   1.0            0    5           0     0
1276364                0.0   2.5            0   52           0     0
1277924                0.0   8.5            0   68           0     0
1282064                0.0   2.5            0    7           0     0

          num_subscribers        price
is_paid             False   True False True
course_id
8324                    0   3697     0   20
8325                    0  12458     0   20
11153                   0   7014     0   50
11174                   0  69186     0  120
11475                   0  26673     0  100
...                   ...    ...   ...  ...
1276020                 0     23     0   30
1276182                 0      0     0   95
1276364                 0      1     0  200
1277924                 0     44     0   40
1282064                 0      0     0   20

[3672 rows x 10 columns]

In [ ]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [ ]:
distance_matrix = pairwise_distances(df, metric='cosine')

In [ ]:
distance_matrix

array([[0.00000000e+00, 5.52190038e-04, 7.76276612e-04, ...,
        9.86669249e-01, 5.03601583e-01, 9.90588469e-01],
       [5.52190038e-04, 1.11022302e-16, 4.07088654e-05, ...,
        9.91949512e-01, 5.09495516e-01, 9.96298973e-01],
       [7.76276612e-04, 4.07088654e-05, 0.00000000e+00, ...,
        9.86032968e-01, 5.05303684e-01, 9.90344288e-01],
       ...,
       [9.86669249e-01, 9.91949512e-01, 9.86032968e-01, ...,
        1.11022302e-16, 3.81308187e-01, 8.91668832e-03],
       [5.03601583e-01, 5.09495516e-01, 5.05303684e-01, ...,
        3.81308187e-01, 0.00000000e+00, 3.29900295e-01],
       [9.90588469e-01, 9.96298973e-01, 9.90344288e-01, ...,
        8.91668832e-03, 3.29900295e-01, 0.00000000e+00]])

In [ ]:
(distance_matrix[9]).argsort()[1:6]+1

array([ 848,   61,   49, 1969, 1418])

In [ ]:
(distance_matrix[9]).argsort()[1]+1

848

In [ ]:
set().intersection(set(ratings.loc[ratings.course_id==848, 'course_title']))

set()

In [ ]:
ratings.loc[ratings.course_id==8324, 'course_title']

2985    Javascript for Beginners
Name: course_title, dtype: object

In [ ]:
ratings.loc[ratings.course_id==11475, 'course_title']

2700    Become a Certified Web Developer
Name: course_title, dtype: object

In [ ]:
ratings.loc[ratings.course_id==1277924, 'course_title']

2645    Angular 4 Front To Back
Name: course_title, dtype: object

In [ ]:
courses = [8324, 11475, 1277924]

In [ ]:
ratings[ratings['course_id'].isin(courses)]['course_title']

2645             Angular 4 Front To Back
2700    Become a Certified Web Developer
2985            Javascript for Beginners
Name: course_title, dtype: object